/* mobile */
html {
  font-size: 18px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 20px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 22px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 24px;
  }
}

.App {
  text-align: center;
  background: #BE93C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: rgba(255,255,255, 0.4);
  height: 2.5rem;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-weight: bold;
}

.logo{
  height:2rem;
  width:2rem;
  margin-right:0.5rem;
  background: url(https://primedepartamentos.com/images/icons/chat-icon-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}