/* mobile */
html {
  font-size: 18px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 20px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 22px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 24px;
  }
}

.App {
  text-align: center;
  background: #BE93C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-between;
}

.header {
  background: rgba(255,255,255, 0.4);
  height: 2.5rem;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-weight: bold;
}

.logo{
  height:2rem;
  width:2rem;
  margin-right:0.5rem;
  background: url(https://primedepartamentos.com/images/icons/chat-icon-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.footer{
  background: rgba(255,255,255, 0.4);
  height: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-input{
  width: calc(100% - 10rem);
  font-family: 'Open Sans', sans-serif;
  border: rgba(255,255,255, 0.4);
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  border-radius: 0.8rem;
}

.button{
  position: absolute;
  right:4.9rem;
  top:0.88rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: rgba(255,255,255, 0.4);
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 0.7rem;
  margin-left: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
}

.message-row{
  width:100%;
  display: flex;
}

.message{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  text-align: left;
  font-weight: lighter;
  color: white;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  margin: 0.5rem;
  border-left: 0.1rem;
  border-style: hidden hidden hidden solid;
  border-color: white;
  display: inline-block;
}

.message-name{
  font-size: 0.55rem;
  font-weight: 700;
  left: -1rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
}


.name-picker{
  font-size: 0.7rem;
  display: flex;
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  }
.name-picker input {
  max-width:50%;
  font-family: 'Open Sans', sans-serif;
  border: rgba(255,255,255, 0.4);
  padding: 0.2rem;
  border-radius: 0.8rem;
  align-items: flex-end;
  justify-content: flex-end;
}

.name-button{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: rgba(255,255,255, 0.4);
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  border-radius: 0.7rem;
  margin-left: 0.4rem;
}